.first_div {
    width: 90%;
    margin-left: 5%;
    border: 2px solid black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    padding: 1%;

}

.invoice {
    padding: 1%;
    color: cadetblue;
    display: flex;
    /* text-align: center;   */
}

.invoice_bill {
    width: 48%;
    text-align: left;
    padding: 1%;
    display: flexbox;
}

.invoice_bill div {
    padding: 1%;
}

#id {
    margin-left: 20%;
    width: 170px;

}

#date {
    margin-left: 100px;
    width: 170px;
}

#payment_type {
    margin-left: 4%;
    width: 170px;

}

#due_date {
    margin-left: 10%;
    width: 170px;
}

#po_number {
    margin-left: 7%;
    width: 170px;
}

input {
    width: 180px;
    height: 2em;
    text-align: center;
}

textarea {
    text-align: center;
}

.x {
    display: none;
    text-align: center;
    width: 30px;
    border: 1px solid black;
    background-color: lightgray;
}

#table_data tr:hover .x {
    display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.text-danger {
    color: red;
}
table{
   border-collapse: collapse;
}
td .delete{
    background-color: red;
    border: 1px solid red;
    box-shadow: 10cap;
    padding: 1%;
    margin: 2%;
}
td .update{
    background-color: green;
    border: 1px solid green;
    box-shadow: 10cap;
    padding: 1%;
    margin: 2%;
}
td .show{
    background-color: yellow;
    border: 1px solid yellow;
    box-shadow: 10cap;
    padding: 1%;
    margin: 2%;
}
